* {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.hero {
  width: 100%;
  height: 100vh;
  background-color: #f1f1f1;
  position: relative;
  text-align: center;
}

nav {
  font-size: 1.3rem;
  background-color: #f1f1f1;
}

@media only screen and (max-width: 600px) {
  nav {
   font-size: 1rem;
  }
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul a {
  cursor: pointer;
  flex: auto;
  text-align: center;
  color: #2b2b2b;
  transition: all 0.2s ease-in;
  border: 0px;
  border-bottom: 0.1px solid dimgray;
}

nav ul li {
  cursor: pointer;
  padding: 0.5rem;
  flex: auto;
  text-align: center;
  color: #2b2b2b;
  transition: all 0.2s ease-in;
  border: 0px;
}

a {
  text-decoration: none;
  color: #2b2b2b;
  transition: all 0.2s ease-in;
}

nav ul li:hover {
  background-color: #555;
  color: white;
}

nav ul li:hover a {
  background-color: #555;
  color: white;
}

@media all and (max-width: 400px) {
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    text-align: center;
  }
}

.welcome {
  font-size: 3rem;
  font-weight: lighter;
  padding-top: 7.5%;
  padding-bottom: 7.5%;
}

.arrow {
  height: 3rem;
  -moz-animation: bounce 1s infinite;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
  position: absolute;
  bottom: 0.5%;
}

@keyframes bounce {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.second {
  height: 100vh;
  width: 100%;
  text-align: center;
}

.second-title {
  font-size: 2.5rem;
}

.carousel-wrapper {
  display: flex;
  margin-top: 12%;
  justify-content: space-around;
}

.carousel-text {
  max-width: 30vw;
}

.carousel-image {
  height: 60vh;
  width: 25vw;
  border: 1px solid #b9b9b9;
}

/* footer style */

footer {
  background: #f1f1f1;
  padding: 90px 0;
  border-top: 1px solid #555;
}

.footer-container {
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo {
  width: 180px;
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
}

.social-media a:hover {
  color: #555;
}

.right-col h1 {
  font-size: 26px;
}

.border {
  width: 100px;
  height: 4px;
  margin: 5px 0px;
  background: #555;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.email-enter-text {
  margin-bottom: 5px;
}

.txtb {
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.btn {
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #555;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 960px) {
  .footer-container {
    max-width: 600px;
  }
  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}
